Repository d-lama/d-lama-webapp, pull requests merged in 2023-05, with the labels that each got.

#28 feat/8-login-page-desktop-screen
  src/App.tsx
  src/components/forms/Button.tsx
  src/pages/Login.tsx
  src/pages/login/Login.css
  src/pages/login/Login.tsx
  src/pages/login/LoginDesktop.css
  src/pages/login/LoginDesktop.test.tsx
  src/pages/login/LoginDesktop.tsx
  src/pages/login/LoginMobile.test.tsx
  src/pages/login/LoginMobile.tsx
Labels: feature, desktop

#30 feat/11-registration-page-desktop-screen
  src/App.tsx
  src/components/forms/Input.tsx
  src/pages/Registration.tsx
  src/pages/login/LoginDesktop.test.tsx
  src/pages/login/LoginMobile.test.tsx
  src/pages/registration/Registration.test.tsx
  src/pages/registration/Registration.tsx
  src/pages/registration/RegistrationDesktop.css
  src/pages/registration/RegistrationDesktop.test.tsx
  src/pages/registration/RegistrationDesktop.tsx
  src/pages/registration/RegistrationMobile.test.tsx
  src/pages/registration/RegistrationMobile.tsx
  src/pages/registration/registrationSucceed/RegistrationSucceed.css
  src/pages/registration/registrationSucceed/RegistrationSucceed.tsx
  src/pages/registration/registrationSucceed/RegistrationSucceedDesktop.test.tsx
  src/pages/registration/registrationSucceed/RegistrationSucceedDesktop.tsx
  src/pages/registration/registrationSucceed/RegistrationSucceedMobile.test.tsx
  src/pages/registration/registrationSucceed/RegistrationSucceedMobile.tsx
Labels: feature, desktop

#31 Feat/19 project creation page desktop screen
  src/App.tsx
  src/components/forms/Button.tsx
  src/components/forms/DynamicField.tsx
  src/components/forms/Input.tsx
  src/pages/FileUploadDesktop.tsx
  src/pages/ProjectCreationDesktop.css
  src/pages/ProjectCreationDesktop.test.tsx
  src/pages/ProjectCreationDesktop.tsx
Labels: feature, desktop

#45 Feat/15 ranking page mobile screen
  src/App.tsx
  src/pages/ranking/RankingPage.css
  src/pages/ranking/RankingPageMobile.test.tsx
  src/pages/ranking/RankingPageMobile.tsx
Labels: feature, mobile

#54 #53 Fix labeling experience
  src/pages/home/ProjectButton.tsx
  src/pages/labelscreen/LabelScreen.tsx
  src/pages/labelscreen/components/CardLabelComponent.tsx
  src/pages/labelscreen/components/WinComponent.tsx
Labels: bug
